*,
*::before,
*::after {    
    box-sizing: border-box;
}
* {
    padding: 0;
    margin: 0;
}
body {
    font-family: 'Inter', sans-serif;
}
.nav {
    background-color: #fff;
    
}
.nav-bar {
    padding: 20px 48px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.nav-left {
    display: flex;
    align-items: center;
    gap: 100px;
}
.nav-left > span {
    text-decoration: none;
    font-weight: 500;
    font-size: 20px;
    line-height: 24.2px;
    color: #0E58E8;
}
.nav-center {
    display: flex;
    position: relative;

}
.input {
    background-color: #F4F8F9;
    border-radius: 30px;
    border: none;
    padding: 10px 20px;
}
.logo {
    position: absolute;
    top: 10px;
    left: 10px;

}