*,
*::before,
*::after {    
    box-sizing: border-box;
}
* {
    padding: 0;
    margin: 0;
}
body {
    font-family: 'Inter', sans-serif;
}
.app {
    width: 100vw;
    height: 100%;
    background-color: #E5E5E5;
}
.nav-bar {
    padding: 20px 20px;
    display: flex;
    background-color: #fff;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0px 1px 3px -1px #0000001A;
    width: 100%;
}

.nav-left {
    display: block;
}
.navleft-child {
    display: flex;
    align-items: center;
    gap: 10px;
    text-decoration: none;
}
.span-text {
    font-weight: 500;
    font-size: 20px;
    line-height: 24.2px;
    color: #0E58E8;
}
.nav-center {
    display: flex;
    position: relative;

}
.input {
    background-color: #F4F8F9;
    border-radius: 30px;
    border: none;
    padding: 10px 20px;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}
.logo {
    position: absolute;
    top: 25px;
    left: 15px;

}
.nav-right {
    display: flex;
    align-items: center;
    gap: 30px;
}
.nav-right > span {
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    border: 1px solid #E3E7EE;
    border-radius: 50%;
    justify-content: center;
}
.main {
    display: block;
    padding: 5px 0;
}
.side-bar {
    width: 100%;
    background-color: #fff;
    position: relative;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);
}
.dashboardcontent-top {
    display: flex;
}
.dashboard-child {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 20px;
    text-decoration: none;
}

.dashboard-child:hover {
    background-color: #0E58E814;
}
.dashboard-child:hover > svg path {
    fill: #0E58E8;
}
.dashboard-child:hover > span{
    color: #0E58E8;
}
.sidebar-span {
    text-transform: capitalize;
    font-weight: 500;
    line-height: 19.36px;
    color: #5A616D;
}
.sidebarspan {
    text-transform: capitalize;
    font-weight: 400;
    line-height: 19.36px;
    color: #5A616D;
}
.dashboardcontent-pages {
    background-color: #fff;
    border-bottom: 1px solid #D2D4D9;
    padding-top: 40px;
}
.dashboardcontent-pages > p {
    padding-left: 20px;
    padding-bottom: 20px;
}

.dashboard-footer {
    background-color: #fff;
    bottom: 0;
    width: 100%;
}

.content {
    width: 100%;
    height: 100%;
    padding: 20px 20px;
}
.button-container {
    display: flex;
    justify-content: flex-end;
    position: relative;
}
.button-container > button {
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    background-color: #0E58E8;
    color: #fff;
}
.content > h1 {
    padding-top: 60px;
    padding-bottom: 27px;
    font-weight: 500;
    font-size: 32px;
    line-height: 38.73px;
}
.dashboard-grid {
        display: grid;
        grid-template-columns: 1fr;
        width: 100%;
        gap: 24px;
}
.card{
    background-color: #fff;
    border: 1px solid #E3E7EE;
    padding: 20px;
    border-radius: 5px;
}
.card-header {
    display: flex;
    align-items: center;
    position: relative;
    justify-content: space-between;
}
.card-header-text > span {
    display: block;
}
.card-text {
    font-weight: 500;
    line-height: 19.36px;
    color: #5F718C;
    padding-bottom: 5px;
}
.card-num {
    font-weight: 500;
    font-size: 24px;
    line-height: 29.05px;
}
.card-header-icon {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card-header-icon.red{
    background-color: #CD2356;
}
.card-header-icon.lightblue {
    background-color: #23A4CD;
}
.card-header-icon.orange {
    background-color: #CD7523;
}
.card-header-icon.blue {
    background-color: #1A46E4;
}
.card-footer {
    display: flex;
    gap: 10px;
    padding-top: 16px;
}
.card-footer-changes {
    display: block;
    position: relative;
    font-weight: 500;
    font-size: 14px;
    line-height: 16.94px;
    padding: 10px 15px;
    border-radius: 5px;   
}
.card-footer-changes.green {
    background-color: #3AC56926;
    color: #3AC569;
}
.card-footer-changes.pink {
    background-color: #CD235626;
    color: #CD2356;
}
.card-footer-span {
    font-weight: 400;
    font-size: 12px;
    line-height: 14.52px;
    color: #616681;
    align-self: center;
}
.table-container {
    background: #FFFFFF;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.02), 0px 2px 4px rgba(0, 0, 0, 0.08);
    border-radius: 5px;
    margin-top: 60px;
}
.table-container > h1 {
    padding: 20px;
    font-size: 20px;
}
.table-container > table {
    width: 100%;
}
.table {
    border-collapse: collapse;
    border-spacing: 0;
}
.table td, .table th {
    padding: 20px 20px;
  }
.table-header > th{
    text-align: left;
}
.table tr:nth-child(odd) { background-color: #f2f2f2; }
.table-header {
background-color: #F9F9F9;
}
.tablerow-data {
    padding: 20px 10px;
}
.user {
    display: flex;
    align-items: center;
    gap: 10px;
}
.user > img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    object-fit: cover;
}
.user > span {
    font-weight: 500;
    font-size: 15px;
    line-height: 18.15px;
    color: #3D4159;
}
.company {
    display: flex;
    align-items: center;
    gap: 10px;
}
.company-logo {
    display: block;
    height: 30px;
    width: 30px;
    border-radius: 10px;
    background-color: purple;
}
.company-logo.yellow{
    background-color: #FDEB4C;
}
.company-logo.blue{
    background-color: #0E58E8;
}
.company-logo.pink{
    background-color: #CD2356;
}
.company-logo.lightblue{
    background-color: #1977CD;
}
.company-logo.black{
    background-color: #000000;
}
.company-logo.lightpurple{
    background-color: #CA2B9D;
}
.company-logo.lightgreen{
    background-color: #3AC569;
}
.company-name {
    font-weight: 500;
    font-size: 15px;
    line-height: 18.15px;
    color: #3D4159;
}
.offer {
    font-weight: 500;
    font-size: 15px;
    line-height: 18.15px;
    color: #3D4159;
}
.status {
    display: flex;
    gap: 10px;
    align-items: center;
}
.status-indicator {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: grey;
}
.status-indicator.active {
    background-color: #3AC569;
}
.status-indicator.inactive {
    background-color: #F3AA66;
}
.status-text {
    font-weight: 500;
    font-size: 15px;
    line-height: 18.15px;
    color: #3D4159;
}
.action-button {
    border: 1px solid #7E858E;
    border-radius: 5px;
    padding: 10px;
    background-color: #fff;
    color: #7E858E;
}
@media (min-width: 768px) {
    .nav-bar {
        padding: 20px 48px;
        height: 70px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        box-shadow: 0px 1px 3px -1px #0000001A;
        position: fixed;
        width: 100%;
        left: 0;
        right: 0;
        top: 0;
        z-index: 2;
    
    }
    .input {
        width: 400px;
        margin-top: 0;
        margin-bottom: 0;
    }
    .nav-left {
        display: flex;
        justify-content: center;
        gap: 100px;
    }
    .logo {
        position: absolute;
        top: 3px;
        left: 15px;
    
    }
    .main {
        display: flex;
        padding: 5px 0;
        margin-top: 70px;
    }
    .side-bar {
        width: 250px;
        height: calc(100%-70px);
        position: fixed;
        left: 0;
        overflow-x: hidden;
        z-index: 1;
    }
    .dashboard-child {
        padding: 20px 48px;
    }
    .dashboardcontent-pages > p {
        padding-left: 48px;
    }
    .dashboard-grid {
        grid-template-columns: repeat(4, 1fr);
}
.content {
    width: 100%;
    height: calc(100%-70px);
    padding: 20px 32px;
    margin-left: 250px;
}
.table-container {
    background: #FFFFFF;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.02), 0px 2px 4px rgba(0, 0, 0, 0.08);
    border-radius: 5px;
    margin-top: 60px;
}
    
    
}